$foundation-grey-grey-50: #a4a7af;
$foundation-grey-grey-100: #94979e;
$foundation-grey-grey-300: #686b72;
$foundation-grey-grey-400: #5a5d63;
$foundation-grey-grey-500: #4a4d52;
$foundation-violet-violet-200: #a192a4;
$foundation-blue-primary-blue-500: #08a0d8;
$foundation-red-red-300:#D75A80;
$color-white: #fff;
$grey-color-700: #2B2E31;
$grey-color-800: #202324;
$color-success: #3DFFF3;

